# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

INN570-A2CS/WindowsFormsApplication1/obj/Debug/TempPE/test.Designer.cs.dll
INN570-A2CS/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.pdb
INN570-A2CS/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.GenerateResource.Cache
INN570-A2CS/WindowsFormsApplication1/obj/Debug/TempPE/test.Designer.cs.dll
*.dll
INN570-A2CS/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.pdb
INN570-A2CS/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.exe
INN570-A2CS/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.GenerateResource.Cache
*.exe
INN570-A2CS/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.exe
INN570-A2CS/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.pdb
INN570-A2CS/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.GenerateResource.Cache
INN570-A2CS/WindowsFormsApplication1/obj/Debug/TempPE/test.Designer.cs.dll
INN570-A2CS/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
INN570-A2CS/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.vshost.exe
